<section>
    <div class="container">
        <div class="row">
            <h2>Courses</h2>
            <div class="col-md-4">
                <input type="text"
                       class="form-control"
                       placeholder="Type phrase for search"
                       ng-model="listVM.searchText">
            </div>
            <div class="col-md-4 col-md-offset-4">
                <button class="btn btn-default" ng-click="listVM.methods.archiveCourses()">Archive Selected</button>
                <button class="btn btn-default" ng-click="listVM.methods.addNew()">Add New</button>
            </div>
        </div>
        <div class="row">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Duration</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in listVM.data.courses | filter : {course: {title: listVM.searchText}}">
                    <td>
                        <input type="checkbox"
                               ng-change="listVM.methods.editCheckedCourses(item.id, item.course)"
                               ng-model="item.course.checked"
                               ng-disabled="item.course.archived">
                    </td>
                    <td>{{ item.id }}</td>
                    <td>
                        <a href="{{ item.course.link }}"
                           title="{{ item.course.title }}"
                           target="_blank"
                           ng-bind="item.course.title"
                           ng-class="{ 'archived__link': item.course.archived }"></a>
                    </td>
                    <td ng-bind="item.course.author"></td>
                    <td ng-bind="item.course.duration"></td>
                    <td>
                        <a ui-sref="edit({id: item.id})" ng-show="!item.course.archived">Edit</a>
                        <a href="" ng-click="listVM.methods.remove(item.id)" ng-show="!item.course.archived">Delete</a>
                        <a href="" ng-click="listVM.methods.unarchiveCourse(item.id, item.course)" ng-show="item.course.archived">Unarchive</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>