<section>
    <div class="container">
        <div class="row">
            <h2>Courses</h2>
            <div class="col-md-4">
                <input type="text"
                       class="form-control"
                       placeholder="Type phrase for search"
                       ng-model="listVM.searchText">
            </div>
            <div class="col-md-4 col-md-offset-4">
                <button class="btn btn-default"
                        ng-click="listVM.methods.archiveCourses()"
                        ng-disabled="listVM.disableArchive">Archive Selected</button>
                <button class="btn btn-default" ng-click="listVM.methods.addNew()">Add New</button>
            </div>
        </div>
        <div class="row">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        <input type="checkbox"
                               ng-model="listVM.allChecked"
                               ng-change="listVM.methods.chooseAll()"
                               ng-disabled="listVM.allCheckedDisable">
                    </th>
                    <th><span class="column__header" ng-click="listVM.methods.sortBy('id')">ID</span></th>
                    <th><span class="column__header" ng-click="listVM.methods.sortBy('title')">Title</span></th>
                    <th><span class="column__header" ng-click="listVM.methods.sortBy('author')">Author</span></th>
                    <th><span class="column__header" ng-click="listVM.methods.sortBy('duration')">Duration</span></th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in listVM.data.courses | orderBy : listVM.sortProp : listVM.sortReverse | filter : {title: listVM.searchText} track by item.id">
                    <td>
                        <input type="checkbox"
                               ng-change="listVM.methods.editCheckedCourses(item.id, item)"
                               ng-model="item.checked"
                               ng-disabled="item.archived">
                    </td>
                    <td>{{ item.id }}</td>
                    <td>
                        <a href="{{ item.link }}"
                           title="{{ item.title }}"
                           target="_blank"
                           ng-bind="item.title"
                           ng-class="{ 'archived__link': item.archived }"></a>
                    </td>
                    <td ng-bind="item.author"></td>
                    <td ng-bind="item.duration"></td>
                    <td>
                        <a ui-sref="edit({id: item.id})" ng-show="!item.archived">Edit</a>
                        <a href="" ng-click="listVM.methods.remove(item.id)" ng-show="!item.archived">Delete</a>
                        <a href="" ng-click="listVM.methods.unarchiveCourse(item.id, item)" ng-show="item.archived">Unarchive</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>