@font-face {
  font-family: 'OpenSans';
  src: url(assets/styles/less/fonts/OpenSans/OpenSansRegular/OpenSansRegular.eot?91e049db2f1148f1f0e607bfbcba1a47);
  src: url(assets/styles/less/fonts/OpenSans/OpenSansRegular/OpenSansRegular.eot?91e049db2f1148f1f0e607bfbcba1a47?#iefix) format('embedded-opentype'), url(assets/styles/less/fonts/OpenSans/OpenSansRegular/OpenSansRegular.woff?0f7c77932ea877aca544e439a3e63bb6) format('woff'), url(assets/styles/less/fonts/OpenSans/OpenSansRegular/OpenSansRegular.ttf?5874364d5ae80a8671d620d78ff9f1b5) format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url(assets/styles/less/fonts/OpenSans/OpenSansLight/OpenSansLight.eot?eb578c83a7d79f561b41d2436c5a9f35);
  src: url(assets/styles/less/fonts/OpenSans/OpenSansLight/OpenSansLight.eot?eb578c83a7d79f561b41d2436c5a9f35?#iefix) format('embedded-opentype'), url(assets/styles/less/fonts/OpenSans/OpenSansLight/OpenSansLight.woff?f5e96f06811c03c019d10f2a8402303a) format('woff'), url(assets/styles/less/fonts/OpenSans/OpenSansLight/OpenSansLight.ttf?12c8a8c628ce99ed729f003698183a3a) format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url(assets/styles/less/fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.eot?6f641b6a0b440cc3bf3091c6fb81daf0);
  src: url(assets/styles/less/fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.eot?6f641b6a0b440cc3bf3091c6fb81daf0?#iefix) format('embedded-opentype'), url(assets/styles/less/fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.woff?e59cc16dd973933b69c36dbeebbb7544) format('woff'), url(assets/styles/less/fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.ttf?746b69f0f683ddb1e53427c137d2b220) format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url(assets/styles/less/fonts/OpenSans/OpenSansBold/OpenSansBold.eot?08862c283f9f67a94116085cc5ba989d);
  src: url(assets/styles/less/fonts/OpenSans/OpenSansBold/OpenSansBold.eot?08862c283f9f67a94116085cc5ba989d?#iefix) format('embedded-opentype'), url(assets/styles/less/fonts/OpenSans/OpenSansBold/OpenSansBold.woff?eff2996162fdfe7c6af7995d3f790275) format('woff'), url(assets/styles/less/fonts/OpenSans/OpenSansBold/OpenSansBold.ttf?c3b34d59ef4c949d25a4f32b5096471a) format('truetype');
  font-weight: 800;
  font-style: normal;
}
body {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  max-width: 1500px;
  margin: 0 auto;
}
header {
  min-height: 100px;
  background-color: #3f51b5;
}
.column__header {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.project-btn {
  width: 130px;
  height: 40px;
  border-radius: 4px;
  background-color: #f6511e;
  color: #fff;
  font-weight: 600;
}
.project-btn:hover {
  background-color: #fff;
  color: #f6511e;
  border-color: #f6511e;
}
.project-btn[disabled] {
  background-color: #f5f5f5;
  color: #cecece;
}
.page__title {
  font-size: 2em;
  font-weight: 800;
  color: #50546d;
}
.page__form-group {
  margin-bottom: 30px;
}
.page__label {
  margin-bottom: 10px;
  font-weight: 600;
  color: #8d8f9e;
}
.page__form-control {
  height: 40px;
  border-radius: 2px;
  font-size: 14px;
  color: #50546d;
}
.logo__link:hover {
  text-decoration: none;
}
.logo__title {
  height: 100px;
  padding: 37px 0;
  margin: 0;
  font-size: 2em;
  line-height: 1;
  color: #fff;
}
.logo__triangle {
  display: inline-block;
  margin-left: 10px;
  border: 10px solid transparent;
  border-left: 16px solid #fff;
  background-color: transparent;
}
.user {
  display: inline-block;
  height: 100px;
  padding: 30px 0;
  overflow: hidden;
}
.user__avatar {
  float: left;
  display: inline-block;
  width: 40px;
  height: 40px;
}
.user__avatar img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
.user__bar {
  float: left;
  display: inline-block;
  height: 40px;
  margin-left: 14px;
}
.user__name {
  margin: 4px 0 0 0;
  line-height: 1;
  color: #b5c0fa;
  font-weight: 600;
}
.user__logout {
  display: block;
  margin: 6px 0 0 0;
  line-height: 1;
  text-align: left;
  color: #b5c0fa;
}
.user__logout:hover {
  color: #fff;
  text-decoration: none;
}
.auth__title {
  margin: 44px 0;
}
.courses__archive-btn {
  width: 160px;
  margin-right: 6px;
}
.courses__title {
  margin: 46px 0 26px;
}
.courses__search {
  width: 370px;
  height: 40px;
  padding-right: 40px;
  color: #c0b9b9;
  font-size: 14px;
}
.courses__table {
  margin-top: 20px;
}
.courses__table a {
  color: #51aef0;
}
.courses__table-cell {
  height: 50px;
  vertical-align: middle !important;
}
.courses__header-cell {
  font-size: 14px;
  font-weight: 600;
}
.courses__action--edit {
  margin-right: 16px;
}
.courses__table-row {
  color: #50546d;
}
.courses__table-row--archived {
  color: #c0b9b9 !important;
}
.courses__table-link--archived {
  color: #c0b9b9 !important;
  pointer-events: none !important;
}
.sort__arrow {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  border: 2px solid transparent;
  border-left-color: #50546d;
  border-top-color: #50546d;
  transform-origin: center center;
  transform: rotate(-135deg) translate(4px);
}
.sort__arrow--up {
  transform: rotate(45deg) translate(2px, 4px);
}
.search__wrap {
  position: relative;
  display: inline-block;
}
.search__linze {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: #c0b9b9;
  font-size: 1.4em;
}
.edit__title {
  margin: 44px 0;
}
.edit__duration {
  width: 100px;
}
.edit__save {
  margin-right: 16px;
}
/* === OverRides === */
.has-error .page__form-control {
  border-color: #f6511e;
}
.has-error .help-block {
  color: #f6511e;
}

/*# sourceMappingURL=styles.css.map*/