<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h2>Add New Course</h2>
                <form name="addForm" novalidate>
                    <div class="form-group" ng-class="{'has-success': addForm.title.$valid && addForm.title.$dirty, 'has-error': addForm.title.$invalid && addForm.title.$dirty}">
                        <label for="courseTitle">Course Title *</label>
                        <input type="text"
                               class="form-control"
                               id="courseTitle"
                               name="title"
                               placeholder="Course title"
                               ng-model="addVM.data.course.title"
                               ng-model-options="{ updateOn: 'blur' }"
                               required>
                        <span class="help-block" ng-show="addForm.title.$error.required && addForm.title.$dirty">* Поле "Title" обязательно для заполнения</span>
                    </div>
                    <div class="form-group" ng-class="{'has-success': addForm.link.$valid && addForm.link.$dirty, 'has-error': addForm.link.$invalid && addForm.link.$dirty}">
                        <label for="courseLink">Course Link *</label>
                        <input type="text"
                               class="form-control"
                               id="courseLink"
                               name="link"
                               pattern="^(https?\:\/\/)[A-Za-z\-\.]*"
                               placeholder="Course link"
                               ng-model="addVM.data.course.link"
                               ng-model-options="{ updateOn: 'blur' }"
                               required>
                        <span class="help-block" ng-show="addForm.link.$error.required && addForm.link.$dirty">* Поле "Link" обязательно для заполнения</span>
                        <span class="help-block" ng-show="addForm.link.$error.pattern && addForm.link.$dirty">* Поле «Course Link» может содержать только ссылки, начинающиеся с http:// или https://</span>
                    </div>
                    <div class="form-group">
                        <label for="courseAuthor">Course Author</label>
                        <select id="courseAuthor" class="form-control" ng-model="addVM.data.course.author">
                            <option>Андрей</option>
                            <option>Вася</option>
                            <option>Федя</option>
                            <option>Петя</option>
                            <option>Ваня</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="courseDuration">Course Duration</label>
                        <input type="text"
                               class="form-control"
                               id="courseDuration"
                               placeholder="Duration"
                               ng-model="addVM.data.course.duration">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default" ng-click="addVM.methods.add()" ng-disabled="addForm.$invalid">Add</button>
                        <button class="btn btn-default" ng-click="addVM.methods.cancel()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>