<div class="page__wrap">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="/" class="logo__link">
                        <h1 class="logo__title">FRONTEND<span class="logo__triangle"></span>VIDEO</h1>
                    </a>
                </div>
                <div class="col-md-8"></div>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <h2 class="page__title auth__title">Authorization</h2>
                    <form name="loginForm" novalidate>
                        <div class="page__form-group form-group" ng-class="{'has-success': loginForm.username.$valid && loginForm.username.$dirty, 'has-error': loginForm.username.$invalid && loginForm.username.$dirty}">
                            <label class="page__label" for="loginUsername">Username:</label>
                            <input type="text"
                                   placeholder="vofus"
                                   class="page__form-control form-control"
                                   id="loginUsername"
                                   name="username"
                                   pattern="^[A-Za-z\d_]+$"
                                   ng-model="loginVM.login"
                                   ng-model-options="{ updateOn: 'blur' }"
                                   required>
                            <span class="help-block" ng-show="loginForm.username.$error.required && loginForm.username.$dirty">Поле "username" обязательно для заполнения</span>
                            <span class="help-block" ng-show="loginForm.username.$error.pattern && loginForm.username.$dirty">Поле "username" может содержать только латинские буквы, цифры и знак подчеркивания</span>
                        </div>
                        <div class="page__form-group form-group" ng-class="{'has-success': loginForm.password.$valid && loginForm.password.$dirty, 'has-error': loginForm.password.$invalid && loginForm.password.$dirty}">
                            <label class="page__label" for="loginPassword">Password:</label>
                            <input type="password"
                                   placeholder="123"
                                   class="page__form-control form-control"
                                   id="loginPassword"
                                   name="password"
                                   pattern="^[A-Za-z\d_]+$"
                                   ng-model="loginVM.password"
                                   ng-model-options="{ updateOn: 'blur' }"
                                   required>
                            <span class="help-block" ng-show="loginForm.password.$error.required && loginForm.password.$dirty">Поле "password" обязательно для заполнения</span>
                            <span class="help-block" ng-show="loginForm.password.$error.pattern && loginForm.password.$dirty">Поле "password" может содержать только латинские буквы, цифры и знак подчеркивания</span>
                        </div>
                        <div class="form-group">
                            <button class="project-btn btn btn-default"
                                    ng-click="loginVM.methods.signUp()"
                                    ng-disabled="loginForm.$invalid">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>